
//
// VARIABLES
//

//Main Colors
//Try the marvel color palette : http://www.color-hex.com/color-palette/6563
//#e23636	red
//#000000	black
//#504a4a	drk grey
//#518cca	blue
//#f78f3f   Orange

$primaryColor : #000000;
$primaryColorHigh: #504a4a; 
$secondaryColor : #f78f3f;
$tertiaryColor: #518cca;  

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}